li.item {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

ul.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
ul {
  list-style: none;
}
header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.button-nav .link:hover,
.button-nav .link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.flex-container {
  padding-top: 94px;
  padding-bottom: 94px;
  width: 1170px;
}
.flex-element {
  width: ((100%-60px)/3);
  margin-right: 30px;
  margin-bottom: 30px;
  outline: 1px solid #eeeeee;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.button-item {
  margin-bottom: 50px;
}

.name:not(:last-child) {
  margin-right: 8px;
}

.button-nav .link {
  display: inline-block;
  color: var(--title-text-color);
  font-family: inherit;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  min-width: 73px;
  text-align: center;
  border-radius: 4px;
  border-color: #f5f4fa;
}

.button-nav {
  display: flex;
  justify-content: center;
}

/*portfolio*/
.portfolio-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  padding-bottom: 4px;
}

.portfolio-list {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  margin: 0px;
}
.portfolio-nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.cards:nth-child(3n) {
  margin-right: 0px;
}

.cards:nth-child(n + 7) {
  margin-bottom: 0px;
}

.cards {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;

  width: 370px;
  height: 404px;
}

.cards:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards .link {
  display: block;
}

.card-content {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-top-color: var(--primary-white-color);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 0px 0px 4px 4px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.seti-icon {
  display: inline-block;
  margin: 12px;
  fill: currentColor;
}

.seti-icon:hover,
.seti-icon:focus,
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.web-link {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  color: var(--icon-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.web-link:hover,
.web-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.websocial-list {
  display: flex;
  padding: 0px;
  margin: 0px;
}
